files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIG1TCCBL2gAwIBAgIQbFWr29AHksedBwzYEZ7WvzANBgkqhkiG9w0BAQwFADCB
      iDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCk5ldyBKZXJzZXkxFDASBgNVBAcTC0pl
      cnNleSBDaXR5MR4wHAYDVQQKExVUaGUgVVNFUlRSVVNUIE5ldHdvcmsxLjAsBgNV
      BAMTJVVTRVJUcnVzdCBSU0EgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkwHhcNMjAw
      MTMwMDAwMDAwWhcNMzAwMTI5MjM1OTU5WjBLMQswCQYDVQQGEwJBVDEQMA4GA1UE
      ChMHWmVyb1NTTDEqMCgGA1UEAxMhWmVyb1NTTCBSU0EgRG9tYWluIFNlY3VyZSBT
      aXRlIENBMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAhmlzfqO1Mdgj
      4W3dpBPTVBX1AuvcAyG1fl0dUnw/MeueCWzRWTheZ35LVo91kLI3DDVaZKW+TBAs
      JBjEbYmMwcWSTWYCg5334SF0+ctDAsFxsX+rTDh9kSrG/4mp6OShubLaEIUJiZo4
      t873TuSd0Wj5DWt3DtpAG8T35l/v+xrN8ub8PSSoX5Vkgw+jWf4KQtNvUFLDq8mF
      WhUnPL6jHAADXpvs4lTNYwOtx9yQtbpxwSt7QJY1+ICrmRJB6BuKRt/jfDJF9Jsc
      RQVlHIxQdKAJl7oaVnXgDkqtk2qddd3kCDXd74gv813G91z7CjsGyJ93oJIlNS3U
      gFbD6V54JMgZ3rSmotYbz98oZxX7MKbtCm1aJ/q+hTv2YK1yMxrnfcieKmOYBbFD
      hnW5O6RMA703dBK92j6XRN2EttLkQuujZgy+jXRKtaWMIlkNkWJmOiHmErQngHvt
      iNkIcjJumq1ddFX4iaTI40a6zgvIBtxFeDs2RfcaH73er7ctNUUqgQT5rFgJhMmF
      x76rQgB5OZUkodb5k2ex7P+Gu4J86bS15094UuYcV09hVeknmTh5Ex9CBKipLS2W
      2wKBakf+aVYnNCU6S0nASqt2xrZpGC1v7v6DhuepyyJtn3qSV2PoBiU5Sql+aARp
      wUibQMGm44gjyNDqDlVp+ShLQlUH9x8CAwEAAaOCAXUwggFxMB8GA1UdIwQYMBaA
      FFN5v1qqK0rPVIDh2JvAnfKyA2bLMB0GA1UdDgQWBBTI2XhootkZaNU9ct5fCj7c
      tYaGpjAOBgNVHQ8BAf8EBAMCAYYwEgYDVR0TAQH/BAgwBgEB/wIBADAdBgNVHSUE
      FjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwIgYDVR0gBBswGTANBgsrBgEEAbIxAQIC
      TjAIBgZngQwBAgEwUAYDVR0fBEkwRzBFoEOgQYY/aHR0cDovL2NybC51c2VydHJ1
      c3QuY29tL1VTRVJUcnVzdFJTQUNlcnRpZmljYXRpb25BdXRob3JpdHkuY3JsMHYG
      CCsGAQUFBwEBBGowaDA/BggrBgEFBQcwAoYzaHR0cDovL2NydC51c2VydHJ1c3Qu
      Y29tL1VTRVJUcnVzdFJTQUFkZFRydXN0Q0EuY3J0MCUGCCsGAQUFBzABhhlodHRw
      Oi8vb2NzcC51c2VydHJ1c3QuY29tMA0GCSqGSIb3DQEBDAUAA4ICAQAVDwoIzQDV
      ercT0eYqZjBNJ8VNWwVFlQOtZERqn5iWnEVaLZZdzxlbvz2Fx0ExUNuUEgYkIVM4
      YocKkCQ7hO5noicoq/DrEYH5IuNcuW1I8JJZ9DLuB1fYvIHlZ2JG46iNbVKA3ygA
      Ez86RvDQlt2C494qqPVItRjrz9YlJEGT0DrttyApq0YLFDzf+Z1pkMhh7c+7fXeJ
      qmIhfJpduKc8HEQkYQQShen426S3H0JrIAbKcBCiyYFuOhfyvuwVCFDfFvrjADjd
      4jX1uQXd161IyFRbm89s2Oj5oU1wDYz5sx+hoCuh6lSs+/uPuWomIq3y1GDFNafW
      +LsHBU16lQo5Q2yh25laQsKRgyPmMpHJ98edm6y2sHUabASmRHxvGiuwwE25aDU0
      2SAeepyImJ2CzB80YG7WxlynHqNhpE7xfC7PzQlLgmfEHdU+tHFeQazRQnrFkW2W
      kqRGIq7cKRnyypvjPMkjeiV9lRdAM9fSJvsB3svUuu1coIG1xxI1yegoGM4r5QP4
      RGIVvYaiI76C0djoSbQ/dkIUUXQuB8AL5jyH34g3BZaaXyvpmnV4ilppMXVAnAYG
      ON51WhJ6W0xNdNJwzYASZYH+tmCWI+N60Gv2NNMGHwMZ7e9bXgzUCZH5FaBFDGR5
      S9VWqHB73Q+OyIVvIbKYcSc2w/aSuFKGSA==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAvLy77sErQ966B6KrBJPR2q7MMJJmh1bsMM5WYmc7jRNo7QDq
      fo8DtYhLkm2eGK7nPmQYr1WfabTHujlx3grxX4j3qGcgLWE5dN+eCzam9O4kmy9I
      T9ux0XUMLEIIg1N2NQ6agWxRR+aCHL0g/N2zw8RyDJUvEhwDA5kzmNNOrHOkcrjZ
      vO4bnjtdznMfNAOkkxtR3rb1WQklur63TB10YFRIjE5YcDqneZpEAM9UMoON4s1i
      AyxhQWspowhHrhYUBcTtuWTNhOivW4NbIKiDBM65T/icPA1c6ytvBKvcoIu3DgRu
      2V/awx/PWjIvRLKxqmNNHq8bCfdDq87fwkpGdwIDAQABAoIBADesZLN0/9IxbSa7
      cT8Ua57aWRkq1lut5FYxR4IXeZWP2C+xSXqzrSBrZ/91nmEhlszssetmknOYBCKG
      t3QMPk80E/n1EaTRPSWgoPol0PIHHX05YVdNMxLaOBEGGYTDpebYu/LZhNB0yoS3
      tXdh3pks5YeYqh3pbWouUu4NxvNPVvW8nfagupei9ibna3alSUlMSi4fijayc6tW
      NyIqxhDUlrw55yzgMdOA7lh+9RRdwtgT6C0rBC3XT3Idk3trClU7Mhhpte78H9HH
      j8hJ0e2uqeiPjQIEep+Rkj5NYGDpdEyjRDILGTaYFCv+YFfln1jXI1XZ8m4Na02W
      1ExpokECgYEA9o2mZuW/KQo/MBBZfUJsM6ZSyEHtOWUN8o0j0k9zNuttM1pvGyyN
      EGiDgbAfhIcZr5/jy7qaIlcr9NRsozn8wn1S7XM5QPvLjSXxj40+FQTOkUYqa+1L
      V09fUys7Idmpk7MNVAJpvKO8KPlZlO8LqFo99fvjgoXbJ0QMiNc7zO8CgYEAw/f8
      11VEb9hmke9/4nxcYaK2KgYshGlns9EK/1xNVD0XSl11C0cTkqyfcq8B8g43Zifq
      KpU6dUACwFyoYwX+3RpoebzS2PX9vR5uIFQYqz0sEsFFdFot9u98a04H0K0Cl5hP
      LnlSPat5wSB0bwdWiIMs3BNPsniQhO02lPSDLvkCgYBQaPZCTN/BhMQC6vIktgsP
      9Ui+YzH5LAoWdw2dw6ex26pruyzNUgRXu55YJ5a/5EfuTVk/0oX+eSuu17DuszTK
      QZFQO+oKVZSXXi6gQNJkjILKQnYHaQbPXOWb/Fd2vMRflV/dbEQL7+KoAlrDBgtp
      RrU6ioIyyXEmJz1nS7sHJQKBgFIcYnDHZXmHrtKPC4KWoQ634qQRGi4RDEan3HfK
      8QvO3SdnqVckXOskMVsYQTRvCH9hUhitlmTygTSgnl1/cZ6rJgN8PsxxpfPMAFDD
      a+K0Kvdgy/1Im+HPzs4XT+b71w4131eVtgPpCYcGVkL/TB6+99juroIVSlioHCql
      mSHhAoGBANoxniNRqaPyM55kj2wITUTQCrODdWR0s6NweUGYSMLxX0of2On6I7rM
      DWURr6Y87gPrtaRC2nlw+Ciwl5XIJ3kt+SAd0B7WObjcqyP0owTa586RlLrqqBJa
      j2C+u/qM5zdrrDpXJ8JHk97zYT1duxfPQsKav1bSOag2b9eUFtaW
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"