Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["grocery-tracker-certificate-private-key"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  /etc/pki/tls/certs/server.crt:
    content: |
        -----BEGIN CERTIFICATE-----
        MIIGvjCCBKagAwIBAgIRAImtA4tVC03sXZUQnojVMRQwDQYJKoZIhvcNAQEMBQAw
        SzELMAkGA1UEBhMCQVQxEDAOBgNVBAoTB1plcm9TU0wxKjAoBgNVBAMTIVplcm9T
        U0wgUlNBIERvbWFpbiBTZWN1cmUgU2l0ZSBDQTAeFw0yMTAxMjAwMDAwMDBaFw0y
        MTA0MjAyMzU5NTlaMEMxQTA/BgNVBAMTOGdyb2NlcnktdHJhY2tlci1iYWNrLTgu
        ZXUtY2VudHJhbC0xLmVsYXN0aWNiZWFuc3RhbGsuY29tMIIBIjANBgkqhkiG9w0B
        AQEFAAOCAQ8AMIIBCgKCAQEAkKQk/1MNdOW4dguhD6/WoA/+YmETII1G2RlPr9Sp
        4oDHgJwitC7goJPeMwAkCEWYq7h0nzkOV8SexdXevmXBhJ3/w676xM3NNUfSc+5I
        dMVUlWJv6DIi2rBt+xvI6Faiu2KnOsFN27+ZsfPrJs7Hgo6gZvDlLm9W4fKoq5aQ
        Bv3jORl9ubyXLXqvb1qgBVPx5b9DqOPfd7hZOx2kV2mbEILr3QhSO6t/FOV023y8
        D5KRSxzWqflARWZWKdiB61DoVn0PQ4p0QN2l3SRs4/v/J/apk5kejl2A4l26pEYH
        TmU1PYbkOfiZ4OOH273hDBeRw+XV2uITpj3sZLdwjl09ZQIDAQABo4ICozCCAp8w
        HwYDVR0jBBgwFoAUyNl4aKLZGWjVPXLeXwo+3LWGhqYwHQYDVR0OBBYEFN38vP8u
        6IiHNYmFw1PVBB5Ta923MA4GA1UdDwEB/wQEAwIFoDAMBgNVHRMBAf8EAjAAMB0G
        A1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjBJBgNVHSAEQjBAMDQGCysGAQQB
        sjEBAgJOMCUwIwYIKwYBBQUHAgEWF2h0dHBzOi8vc2VjdGlnby5jb20vQ1BTMAgG
        BmeBDAECATCBiAYIKwYBBQUHAQEEfDB6MEsGCCsGAQUFBzAChj9odHRwOi8vemVy
        b3NzbC5jcnQuc2VjdGlnby5jb20vWmVyb1NTTFJTQURvbWFpblNlY3VyZVNpdGVD
        QS5jcnQwKwYIKwYBBQUHMAGGH2h0dHA6Ly96ZXJvc3NsLm9jc3Auc2VjdGlnby5j
        b20wggEDBgorBgEEAdZ5AgQCBIH0BIHxAO8AdgB9PvL4j/+IVWgkwsDKnlKJeSvF
        DngJfy5ql2iZfiLw1wAAAXch4f3XAAAEAwBHMEUCIFHBPc7+LbEVe9JB3QOu7sjP
        G8SRmMnNbSRkIYFSdMzUAiEA5psJ4zoEctV5T6pKvW6ERYFjELqK2t+CfziQ6d/2
        Je0AdQCUILwejtWNbIhzH4KLIiwN0dpNXmxPlD1h204vWE2iwgAAAXch4f3/AAAE
        AwBGMEQCICnu4mS3AuXsga9nZALeRGYaRtgcHbrJhrcJ8avLiQ2+AiALEL8qwNjC
        WpQ2fWbwQkmSf66AqBD7Qp7eAS/GcTDwMjBDBgNVHREEPDA6gjhncm9jZXJ5LXRy
        YWNrZXItYmFjay04LmV1LWNlbnRyYWwtMS5lbGFzdGljYmVhbnN0YWxrLmNvbTAN
        BgkqhkiG9w0BAQwFAAOCAgEAa1rzaqI5v6N0IihF2k2Fsql9nmFanjW4AREhwNIp
        Uz1VnOvPHtPZ6/ym/UmzJJdMMFbYsCrdGSZSJ7pZIo/8HEkx6LJVSlFFSnzrv6jY
        u6G0bjXzX0U03K+9UPCUY9uI88zuOumBwEV6RaPJVBq3tewHcKrnxIpz+CcFW8Mf
        BpHSUEhFUz/9gN9dctALCXrExMWmhK1UfRD21SbazyChTRwCLDPxh5dkIdRIbhxl
        Vmm9EkhMYWTFmrJ9ETU3odo7uUedyy2Xe9vdbwTa4mBvXZD/4kVgtCTVNh/FuuY4
        j2IQ5dEwoibmPIvY1enKV0i6qVvAp0B8alJVNHDJNFTpnr9Z+0whbuZm9ThruS97
        Lv6q0saXcdSuJClgO4ILQ0WyoXJCk/WUmlCXdQ3eCQNjkVuuFCl3GOg7Dv4ygJaP
        F5vPWSg34i4v9ZNEP2wtojdiGh62IF+dTf9O8b+WSLp2gtfzAdnZM6PVMChSFgB2
        B0kF31dKn86zblpgQGWY+nPXVTgyCygwoz3k41mUQLiUOoiIm4iLsl4AXHPDUe7s
        1P3bVT9RPWtElsjPH837HaRdfXBF2WyBoDdgaC/lpKfNDcFvtSczHrxGO6DSE7OL
        rm9FnT3A6FkD43O7MnwBhf9yLHCrvQ2HGP7UAkOPkX08OjHFL6e5cib/t53B7aqw
        bs0=
        -----END CERTIFICATE-----

  # Private key
  "/etc/pki/tls/certs/server.key":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://grocery-tracker-certificate-private-key.s3.eu-central-1.amazonaws.com/private.key

container_commands:
  01restart_nginx:
    command: "service nginx restart"