files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDdTCCAl0CFEUdK9CpujrNHHgmpUKerk/EDaC4MA0GCSqGSIb3DQEBCwUAMHcx
      CzAJBgNVBAYTAkJFMRgwFgYDVQQIDA9GbGVtaXNoIEJyYWJhbnQxEzARBgNVBAcM
      CkdyaW1iZXJnZW4xFTATBgNVBAoMDEt1cml0c3UgU1BSTDEiMCAGCSqGSIb3DQEJ
      ARYTa2FyaG9veWl1QGdtYWlsLmNvbTAeFw0yMDA3MTkxMDQyNTdaFw0yMTA3MTkx
      MDQyNTdaMHcxCzAJBgNVBAYTAkJFMRgwFgYDVQQIDA9GbGVtaXNoIEJyYWJhbnQx
      EzARBgNVBAcMCkdyaW1iZXJnZW4xFTATBgNVBAoMDEt1cml0c3UgU1BSTDEiMCAG
      CSqGSIb3DQEJARYTa2FyaG9veWl1QGdtYWlsLmNvbTCCASIwDQYJKoZIhvcNAQEB
      BQADggEPADCCAQoCggEBAND8Kj5YRsxUCCK8/nGHlE1tSzg293Ijy6tHVXRijhte
      wDu6ZppvFWKY0Q7qXxqXzuVdUOBl3O0zNnjrxLZuLwWfU9AxZxlkVsRQXuua84QD
      5XMj57T01RshPIn2owQBHB6dIB2dCiQAd3pOU2En4JOkUJ3cCiqEiQkeZDs8SDks
      BMxT/QUEqBTGlRLBwb//nA+nh+yxqydrmqU2OGmA4fAQbca/wquceVNnxzCPBALw
      gtbvfP2Vp3c3cHLXPPEn5XUJnsJkcbyLDIbDP4cgC4lIJoxhYVd9NVwO0VM/6dUm
      60v0/Vkp2uNU8mgNGD4R5YcSDzb+J62L/Vdb/ZRK5r0CAwEAATANBgkqhkiG9w0B
      AQsFAAOCAQEAcK9tXRqtf9AvGz5U5yu5S1lT9HCiPa8PQrczbnstbMW4Ql+idKu3
      RfhMHJvm/JBvbuwxB2LGP2S/80b/ToKwI1fwMRcXUNISBECWWwcg/40NlC5Qu6KS
      5q8dD+uoBpZpCxJ7aXWRmtve5Fhwhmh4Is7O5M8FCUyCR+orlsA/yC5onTgWjtMy
      Z1/oQbCDv1FXpQgtS7y05Ny/SpiNm+RbRy6W5cf35BUTHwKL48u8YWBjXFnqzUgk
      Pd7ppcUlEnJpQHotQi+J51hk1td78gLY0v1s0jE5V9cgxGEyPZM7r2tZsxTyuPre
      1uGeqLrbS0/at5JLL6+3hROwxX4+A1YE/g==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA0PwqPlhGzFQIIrz+cYeUTW1LODb3ciPLq0dVdGKOG17AO7pm
      mm8VYpjRDupfGpfO5V1Q4GXc7TM2eOvEtm4vBZ9T0DFnGWRWxFBe65rzhAPlcyPn
      tPTVGyE8ifajBAEcHp0gHZ0KJAB3ek5TYSfgk6RQndwKKoSJCR5kOzxIOSwEzFP9
      BQSoFMaVEsHBv/+cD6eH7LGrJ2uapTY4aYDh8BBtxr/Cq5x5U2fHMI8EAvCC1u98
      /ZWndzdwctc88SfldQmewmRxvIsMhsM/hyALiUgmjGFhV301XA7RUz/p1SbrS/T9
      WSna41TyaA0YPhHlhxIPNv4nrYv9V1v9lErmvQIDAQABAoIBAFdQ5H2D+KCqg3Ow
      L0dT9FydS45DOQPRfOklNskX3HQHFJ5f9TqVKwQ1ATQQLIg54VHnuUDojnP0r8+6
      AkiOpMrelPAplAAB8la3ldEuvovr7NQ8rjTnDpr1OgwSpm2n4Q3RbHezA2ejYkgR
      rbisJqLJRn2OUBkPownSTuKI/0wTHOtUaPzwcnEmmHBDFzFd9rSP52UDvUjC7zkK
      x8hMgZhJfWTcpo9PC+11Rd67AXez9LhhLnDqRCFDplI0Y9z1t8JGaN5gkiV474i5
      1tIScNq6j+voBeooAdqmlv6pWXkXrRuUN2LN61lB/2IPlPir5yGrZNEdmNzmPyLS
      ZFnoIUECgYEA6Zn/Y+y5cVlA50QdHZAHTsMZx/TK98Q/Cl4xXj9QVJ3cl7VcuApg
      kz6SjEYKWOGxf5gGvAMMS17Zlp4qLIrtn7+USSbY5G//Fm8+5yqwf+oWunLhlzQJ
      uqJmIu1rXyuzWeHFHG7jnwVeycopCix7AdSFIyPnBzRpzTK+8iE9aTkCgYEA5QXt
      kRkaZeTHppmsx79bdX7nIPLN+oe6ORF3dz13C8ouGUkSAgwxTcv5AalYmC6HBC1y
      H5d8BJwUjpb28Nx2LOCc2ic/CHvX9gBklK7Ytx9DkoU9bjvtlHd/8NJQsqdYsk/w
      1lKBfNoKfx12CuM6VYmTzHNm6caSby8gWkw/vaUCgYEAwQNzF5dTKiq7C9sly3Vj
      9FoUBTloMww9ok1tsRfTQfcle1xo/c/lOARtheWhSwtAY9KzTcme8O+wDVkmM6Oe
      722WElM8xpMbS+gjK1IEf8xldyzQ5OQkXcctaRKOsxYinNOE0Bd3j78aMNUOz88s
      27hDQWO60iMmgFu7lciNO1ECgYEAqR2pgb2xupAnxaQw7Acn+ClPbwscguV64+07
      9HcU00XmqJFGlPB/79yw8UMlwqqI1NLiNOXdlGHU5D4h91Y0hYsPCCB28ULSBDvi
      CdDbAs45TZbJ9/6Uv09G0IPdRy8/1dwmEX03VQSFP7x3kC6ews8mrpCA7BvPwf5g
      u40WfGkCgYAAv6Z4dgbb6Vj6rlZ26p5GoXt40LoUi8gQuePRPUGC+68i6Qxr93DO
      wDN/EfqB/UOnAoxRCkIY8tnnzKNm2PACWTGRSO44Fyy+WRkOvAM4MKOoi+7vofJ7
      30xhHyf8mvFWeYgoG3+2jIMi5NkanAMY/sjQelUNa68qa1cwYl7urg==
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"